---
---
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 90%;
  margin: 0 auto;
  font-size: 19px;
  line-height: 1.5;
  color: #24292e;
}

@media (min-width: 768px) {
  body {
    max-width: 70%;
  }
}

h2 {
  margin-top: 40px;
}

p img {
  width: 100%;
}

hr {
  border: 0;
  padding: 1px;
  margin: 42px 0px;
  background-color: #efecec;
}

pre {
  background-color: #f6f8fa;
  color: #24292e;
  padding: 8px;
  border-left: 3px solid #7d99ff;
  font-family: "Lucida Console", monospace;
  overflow: auto;
}

blockquote {
  background-color: #efecec;
  margin: 0;
  padding: 30px 30px 20px 30px;
  border-left: 3px solid gray;
  h2 {
    margin-top: 0;
  }
}

p code {
  background-color: #f7f3ee;
  padding: 4px;
  color: #F44336;
  border-radius: 3px;
}

a {
  color: #0366d6;
  text-decoration: none;
}